@charset "utf-8";
/* CSS Document */

@font-face
	{
		font-family: ArialRounded;
		src: url('fonts/ARLRDBD.TTF');
	}

a
	{
		text-decoration: none
	}

a:hover
	{
		color: #0000FF; text-decoration: underline
	}

p
	{
		padding:0;
		margin-top:0;
		margin-bottom:0;
		margin-right:0;
		white-space:nowrap;
	}

table.FrameTable
	{
		font-size:0.8em;
		font-family:Arial, Helvetica, sans-serif;
	}

.AltMenu
	{
		background-color:#DDFFDD;
	}

.MainHeader
	{
		vertical-align:top;
		letter-spacing:0.1em;
		background-color:#FFFFCC;
		border:1px #000 solid;
		border-radius:1em;
		font-family:ArialRounded;
		letter-spacing:0.25em;
		text-align:center;
		margin-bottom:0.2em;
	}

.MainHeaderSpaceBefore
	{
		margin-top:0.5em;
	}

.SubHeader
	{
		font-weight: 700;
		font-family:Arial, Helvetica, sans-serif;
		font-size:0.95em;
	}

.SpecialNote
	{
		font-weight:bold;
		font-size:0.8em;
		color:#990033;
	}

.FrameLeftBottom
	{
		border-left:1px #000 solid;
		border-bottom:1px #000 solid;
		border-bottom-left-radius:0.4em;
		padding-left:0.5em;
	}

.FlashClock
	{
		border:1px solid #000000;
	}

.SlightIndent
	{
		margin-left:0.25em;
	}

.BigIndent
	{
		margin-left:1em;
	}

#Twitter p
	{
		white-space:normal;
	}