@charset "utf-8";
/* CSS Document */

@font-face
	{
		font-family: ArialRounded;
		src: url('fonts/ARLRDBD.TTF');
	}

a
	{
		text-decoration: none;
		color:#008000;
	}

a:visited
	{
		color:#008000;
	}

a:hover
	{
		color: #0000FF; text-decoration: underline
	}

p
	{
		padding:0;
		margin-top:0;
		margin-bottom:0;
		margin-right:0;
		white-space:nowrap;
	}

.FrameDiv
	{
		font-size:0.85em;
		font-family:Arial, Helvetica, sans-serif;
		border-color:#008000;
		border-width:2px;
		border-style:solid;
		overflow:hidden;
		display:table;
		margin-left:auto;
		margin-right:auto;
	}

.ColumnDiv
	{
		float: left;
		padding:5px;
		border-left-width: 2px;
		border-left-style: solid;
		border-left-color: #080;
		margin-left: -2px;
		padding-bottom: 500em;
		margin-bottom: -499.5em;
		margin-top: -0.5em;
	}

.ClockCanvas
	{
		border: 1px black solid;
	}

table.MenuLinkTable
	{
		border-width:0;
		border-collapse:collapse;
	}

table.MenuLinkTable td
	{
		white-space:nowrap;
		padding:0;
	}

#JavaScriptIsDisabled
	{
		text-align: center;
		background: #F00;
		color: #FFF;
		font-weight: bold;
		width: 110%;
		margin-left: -5%;
		font-family: Arial, Helvetica, sans-serif;
		margin-bottom: 0.5em;
	}

.AltMenu
	{
		background-color:#DDFFDD;
	}

.MainHeader
	{
		vertical-align:top;
		background-color:#FFFFCC;
		border:1px #000 solid;
		border-radius:1em;
		font-family:ArialRounded;
		letter-spacing:0.25em;
		text-align:center;
		margin-bottom:0.2em;
		padding-bottom:0.15em;
		margin-top:0.5em;
	}

.SubHeader
	{
		font-weight: 700;
		font-family:Arial, Helvetica, sans-serif;
		font-size:0.95em;
	}

.SpecialNote
	{
		font-weight:bold;
		font-size:0.8em;
		color:#990033;
	}

.LinkGroupList
	{
		border-left:1px #000 groove;
		border-bottom-left-radius:0.4em;
		margin-left:0.25em;
		padding-left:0.5em;
	}

.FlashClock
	{
		border:1px solid #000000;
		margin-top:0.5em;
		margin-bottom:0.5em;
	}

.BigIndent
	{
		margin-left:1em;
	}

#Twitter p
	{
		white-space:normal;
	}

table.ReturnToTop
	{
		margin-left:auto;
		margin-right:auto;
		border-width:0;
		margin-bottom:.85em;
		font-family:Arial, Helvetica, sans-serif;
		font-size:.8em;
	}

td.ReturnToTop
	{
		padding-left:5px;
		padding-right:5px;
		padding-top:2px;
		padding-bottom:2px;
		text-align:center;
		background:#008000;
	}

a.ReturnToTop
	{
		color:#FFFFFF;
		border:0;
	}

.PaddingLeftSmall
	{
		padding-left:1em;
	}

#FloatingMenu
	{
		position: fixed;
		top: 10;
		left: 50;
		border-collapse: collapse;
		font-size: 0.85em;
	}

#FloatingMenu td, #FloatingMenu th
	{
		border: solid #008000 2px;
		padding: 5px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: center;
	}

#FloatingMenu th
	{
		background-color: #008000;
		color: #FFFFFF;
	}

.caption
	{
		font-size:0.7em;
	}